In [3]:
import torch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
import glob, os

In [39]:
def filename_to_label(filename):    
    result = []
    labels = filename.split("_")[-1].split(".png")[0]
    
    for i,l in enumerate(labels):
        if l is not 'x': 
            result.append("".join(["0"]*i) + str(l))
    return " ".join(result)
    
    
filename_to_label('newdata_224/valid/image10085_508xx.png')
def make_csv(dir,folders):
    pics = []
    for folder in folders:
        f_dir = os.path.join(dir,folder,"*.png")
        for file in glob.glob(f_dir):
            file = "/".join(file.split("/")[-2:])
            y = filename_to_label(file)
            pics.append({"name":file,"tags":y})
        print(len(pics),folder)
    df = pd.DataFrame(pics)
    path = os.path.join(dir,"_".join(folders)+"_labels.csv")
    print(path)
    df.to_csv(path, index = False)
    return df
    
    
df = make_csv('newdata_224',['train','valid'])  
df[df.name.str.contains('train')].head()

31669 train
33401 valid
newdata_224/train_valid_labels.csv

                         name           tags
0   train/image7997_37xxx.png           3 07
1   train/image4591_30xxx.png           3 00
2   train/image8945_64xxx.png           6 04
3  train/image16381_2627x.png  2 06 002 0007
4   train/image2431_21xxx.png           2 01

In [40]:
df = make_csv('newdata_224',['train','test'])

31669 train
44737 test
newdata_224/train_test_labels.csv

In [41]:
df = make_csv('newdata_224',['train','extra','valid'])

31669 train
88034 extra
89766 valid
newdata_224/train_extra_valid_labels.csv

             image_name      tags
0  image43238_48xxx.png      4 08
1  image35061_76xxx.png      7 06
2    image785_33xxx.png      3 03
3  image13143_355xx.png  3 05 005
4  image51727_136xx.png  1 03 006